<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
  docsearch({
    apiKey: '8151960eb91c5ef3b59df6d2677b16b4',
    indexName: 'main',
    appId: 'TJZWC7S71P',
    inputSelector: '.searchbox',
    debug: false,
    algoliaOptions: {
      facetFilters: [
        'version:{{displayVersion page}}',
      ],
    }
  });
</script>
