<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
        <img class="navbar-logo" src="{{uiRootPath}}/img/nuodb-bird-only-green.png" />
        {{site.title}}
      </a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{> header-links }}
        {{!--
        <a class="navbar-item" href="#">REST API</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Drivers</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">JDBC</a>
            <a class="navbar-item" href="#">C++</a>
            <a class="navbar-item" href="#">GoLang</a>
          </div>
        </div>
        --}}
      </div>
    </div>
  </nav>
</header>
